.caloriesBurn {
    background-color: rgb(240, 251, 255);
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    flex-grow: 1;
    /* width: 100%; */
    /* align-content: space-between; */
}