.caloriesIntake {
    background-color: rgb(255, 245, 248);
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    flex-grow: 1;
    transition: all ease-in-out 1s;
    /* height: 450px; */
    /* width: 100%; */
    /* align-content: space-between; */
}
