.comparsion {
    display: flex;
    flex-direction: row;
    height: 40vh;
    /* width: 100vw; */
    /* margin-left: 10vw; */
    /* margin-right: auto; */
    /* padding: 2em; */
    /* align-content: stretch; */
    /* align-items: stretch; */
    /* justify-content: center; */
    /* margin-top: 5vh; */
    /* background-color: blanchedalmond; */
}